.table-container {
  margin: 0 2rem 2rem;
  overflow-x: auto;
}

.table-container table {
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 2rem;
  padding-top: 2rem;
}

.table-container table tr:nth-child( 2n + 2 ) {
  background-color: rgba(255, 255, 255, 0.11);
}

:is( th ) {
  background-color: rgba(63, 60, 60, 0.822);
  color: white;
  padding: 2rem;
  text-transform: uppercase;
}


:is( td ) {
  color: white;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

:is( .url ) {
  text-transform: lowercase;
}

